<table class="table" id="results">
    <thead class="text-primary">
        <tr>
            <th>Protocolo</th>
            <th>Aluno</th>
            <th>Status</th>
            <th>Escola</th>
            <th>Setor</th>
            <th>Tipo reclamação</th>
            <th>Reclamante</th>
            <th class="text-right">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for reclamacao in reclamacoes  %}
        <tr>
            <td>{{reclamacao.protocolo}}</td>
            <td>{{reclamacao.aluno}}</td>
            <td>{{reclamacao.status}}</td>
            <td>{{reclamacao.aluno.escola}}</td>
            <td>{{reclamacao.tipo.setor}}</td>
            <td>{{reclamacao.tipo}}</td>
            <td>{{reclamacao.reclamante}}</td>
            <td class="text-right">
                <a class="nav-link dropdown-toggle" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="nc-icon nc-settings-gear-65"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                    <a class="dropdown-item" href="{% url "web_reclamacao_detail"  reclamacao.id  %}">Detalhes</a> 
                    <a class="dropdown-item" href="{% url "web_reclamacao_update"  reclamacao.id  %}">Atualizar</a>   
                    <a class="dropdown-item" href="{% url "web_reclamacao_delete"  reclamacao.id  %}">Apagar</a>   
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>