{% extends 'home.html' %}

{% block content-title%}Reclamações{% endblock %}

{% block content-body %}

{% load crispy_forms_tags %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                Cadastrar aluno
            </h4>
        </div>
        <div class="card-body">
            
            <form id="form" method="post" data-municipios-url="{% url 'ajax_load_municipios' %}" data-escolas-url="{% url 'ajax_load_escolas' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div> {{form.nome | as_crispy_field}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div> {{form.ra | as_crispy_field}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div> {{form.cod_energia | as_crispy_field}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>SRE*</label>
                            <div>
                                <select id="id_sre" class="form-control" name="sre" id="id_sre" required>
                                    <option value="">---------</option>
                                    {% for sre in sres %}
                                        <option value="{{sre.pk}}">{{sre.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Município*</label>
                            <div>
                                <select id="id_municipio" class="form-control" name="municipio" id="id_municipio" required>
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Escola*</label>
                            <div>
                                <select class="form-control" name="escola" id="id_escola" required>
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <br>
                            <div>
                                <input id="isReclamante" type="checkbox" onclick="reclamante()" name="isReclamante"> Aluno é o reclamante
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="divEmail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" type="submit">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
</div>
<script>
    $(document).ready(function() {
        $('#id_escola').select2();
        $('#id_sre').select2();
        $('#id_municipio').select2();
    });

    function reclamante(){
        if(document.getElementById('isReclamante').checked){
            $('#divEmail').append(
                '<label>Email</label>'
                +'<div>'
                +'<input class="form-control" type="text" name="email">'
                +'</div>'
            )
        }
        else{
            $('#divEmail').empty()
        }
    }

    //Atualizar Municipios dinamicamente
    $("#id_sre").change(function() {
        var url = $("#form").attr("data-municipios-url");
        var sreId = $(this).val();
        $.ajax({                       
        url: url,                    
            data: {
                'id': sreId     
            },
            success: function (data) { 
                $("#id_municipio").html(data);
            }
        });
    })

    //Atualizar escolas dinamicamente
    $("#id_municipio").change(function() {
        var url = $("#form").attr("data-escolas-url");
        var municipioId = $(this).val();
        $.ajax({                       
        url: url,                    
            data: {
                'id': municipioId     
            },
            success: function (data) { 
                $("#id_escola").html(data);
            }
        });
    })
    
</script>
{% endblock %}

