{% extends 'home.html' %}

{% block content-title%}Reclamações{% endblock %}

{% block content-body %}

{% load crispy_forms_tags %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                Cadastrar reclamante
            </h4>
        </div>
        <div class="card-body">
            
            <form id="form" method="post" data-municipios-url="{% url 'ajax_load_municipios' %}" data-escolas-url="{% url 'ajax_load_escolas' %}" data-alunos-url="{% url 'ajax_load_alunos' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <br>
                            <div>
                                <input id="isAluno" type="checkbox" onclick="alunoFieldsRender()" name="isAluno"> O reclamante é um aluno
                            </div>
                        </div>
                    </div>
                </div>
                <div id="input-basic1" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nome*</label>
                            <input class="form-control" name="nome" id="id_nome" required>
                        </div>
                    </div>
                </div>
                <div id="input-basic2" class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Cpf*</label>
                            <input class="form-control" name="cpf" id="id_cpf" required>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" name="email" id="id_email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="input-sre" style="display: none;">
                            <label>SRE*</label>
                            <div>
                                <select id="id_sre" class="form-control" name="sre" id="id_sre">
                                    <option value="">---------</option>
                                    {% for sre in sres %}
                                        <option value="{{sre.pk}}">{{sre.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="input-municipio" style="display: none;">
                            <label>Município*</label>
                            <div>
                                <select id="id_municipio" class="form-control" name="municipio" id="id_municipio">
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="input-escola" style="display: none;">
                            <label>Escola*</label>
                            <div>
                                <select class="form-control" name="escola" id="id_escola">
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="input-aluno" style="display: none;">
                            <label>Aluno*</label>
                            <div>
                                <select class="form-control" name="aluno" id="id_aluno">
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group" id="input-email2" style="display: none;">
                            <label>Email</label>
                            <div>
                                <input type="email" class="form-control" name="email2" id="id_email2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group" id="input-cpf2" style="display: none;">
                            <label>Cpf</label>
                            <div>
                                <input type="text" class="form-control" name="cpf2" id="id_cpf2">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" type="submit">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
    // Mascara para cpf
    $("#id_cpf").mask("999.999.999-99");
});

function alunoFieldsRender(){
    if(document.getElementById('isAluno').checked){
        $('#input-basic1').attr("style", "display: none;")
        $('#input-basic2').attr("style", "display: none;")
        $('#input-sre').removeAttr("style")
        $('#input-municipio').removeAttr("style")
        $('#input-escola').removeAttr("style")
        $('#input-aluno').removeAttr("style")
        $('#input-email2').removeAttr("style")
        $('#input-cpf2').removeAttr("style")
        $('#id_sre').select2();
        $('#id_municipio').select2();
        $('#id_escola').select2();
        $('#id_aluno').select2();
        
        $('#id_nome').removeAttr("required")
        $('#id_cpf').removeAttr("required")
        $('#id_aluno').attr("required", "req")
        $('#id_cpf2').attr("required", "req")
    
        $("#id_cpf2").mask("999.999.999-99");

    }

    else{
        $('#input-sre').attr("style", "display: none;")
        $('#input-municipio').attr("style", "display: none;")
        $('#input-escola').attr("style", "display: none;")
        $('#input-aluno').attr("style", "display: none;")
        $('#input-email2').attr("style", "display: none;")
        $('#input-cpf2').attr("style", "display: none;")
        $('#input-basic1').removeAttr("style")
        $('#input-basic2').removeAttr("style")
        
        $('#id_nome').attr("required", "req")
        $('#id_cpf').attr("required", "req")
        $('#id_aluno').removeAttr("required")
        $('#id_cpf2').removeAttr("required")
    }
}

//Atualizar Municipios dinamicamente
$("#id_sre").change(function() {
    var url = $("#form").attr("data-municipios-url");
    var sreId = $(this).val();
    $.ajax({                       
    url: url,                    
        data: {
            'id': sreId     
        },
        success: function (data) { 
            $("#id_municipio").html(data);
        }
    });
})

//Atualizar escolas dinamicamente
$("#id_municipio").change(function() {
    var url = $("#form").attr("data-escolas-url");
    var municipioId = $(this).val();
    $.ajax({                       
    url: url,                    
        data: {
            'id': municipioId     
        },
        success: function (data) { 
            $("#id_escola").html(data);
        }
    });
})

//Atualizar alunos dinamicamente
$("#id_escola").change(function() {
    var url = $("#form").attr("data-alunos-url");
    var escolaId = $(this).val();
    $.ajax({                       
    url: url,                    
        data: {
            'id': escolaId     
        },
        success: function (data) { 
            $("#id_aluno").html(data);
        }
    });
})
</script>
{% endblock %}

