{% extends 'home.html' %}

{% block content-title%}Reclamações{% endblock %}

{% block content-body %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                {% if request.resolver_match.url_name == "web_reclamacao_create" %}Criar nova reclamação{% endif %}
                {% if request.resolver_match.url_name == "web_reclamacao_update" %}Atualizar reclamação{% endif %}
            </h4>
        </div>
        <div class="card-body">
            <form  method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>{{form.protocolo.html_name | title}}</label>
                            <input type="text" class="form-control" name="{{form.protocolo.html_name}}" value="{{form.protocolo.value}}" disabled>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>{{form.aluno.html_name | title}}</label>
                            <div class="form-control"> {{form.aluno}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>{{form.reclamante.html_name | title}}</label>
                            <div class="form-control"> {{form.reclamante}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>{{form.agencia_transporte.html_name | title}}</label>
                            <div class="form-control"> {{form.agencia_transporte}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>{{form.tipo.html_name | title}}</label>
                            <div class="form-control"> {{form.tipo}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>{{form.cod_linha.html_name | title}}</label>
                            <input type="text" class="form-control" name="{{form.cod_linha.html_name}}" value="{{form.cod_linha.value}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>{{form.status.html_name | title}}</label>
                            <div class="form-control"> {{form.status}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>{{form.data_ocorrido.html_name | title}}</label>
                            <input type="date" class="form-control" name="{{form.data_ocorrido.html_name}}" value="{{form.data_ocorrido.value}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{form.texto.html_name | title}}</label>
                                <textarea id="textoForm" class="form-control textarea" name="{{form.texto.html_name}}">{{form.texto.value}}</textarea>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" type="submit">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}

