{% extends 'home.html' %}

{% block content-title%}Reclamações{% endblock %}

{% block content-body %}

{% load crispy_forms_tags %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
               Detalhes da reclamação
            </h4>
        </div>
        <div class="card-body">
            {% if can_view %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Protocolo</label>
                            <div>{{form.protocolo.value}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Aluno</label>
                            <div>{{object.aluno}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Reclamante</label>
                            <div>{{object.reclamante}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Agência de Transporte</label>
                            <div>{{object.agencia_transporte}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Tipo da reclamação</label>
                            <div>{{object.tipo}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Outro tipo</label>
                            {% if object.outro_tipo == "" or object.outro_tipo == None %}
                                <div>-</div>
                            {% else %}
                                <div>{{object.outro_tipo}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Escola</label>
                            <div>{{object.aluno.escola}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Email da escola</label>
                            {% if object.aluno.escola.email != None%}
                                <div><a href="mailto:{{object.aluno.escola.email}}">{{object.aluno.escola.email}}</a></div>
                            {% else %}
                                <div>-</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Nome da rota</label>
                            <div>{{object.rota.nome}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Código da rota</label>
                            <div>{{object.rota.cod_linha}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div>{{form.status | as_crispy_field}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Data do ocorrido</label>
                            <div>{{form.data_ocorrido.value}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Papel</label>
                            <div>{{object.papel}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Outro papel</label>
                            {% if object.outro_papel == "" or object.outro_papel == None %}
                                <div>-</div>
                            {% else %}
                                <div>{{object.outro_papel}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Texto</label>
                            <div>{{form.texto.value}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" type="submit">Atualizar</button>
                    </div>
                </div>
                </form>
                
            </div>
        </div>
        {% for comentario in object.comentarios.all %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Comentário</h4>
                    <p class="card-category">Autor: {{comentario.responsavel.usuario.first_name}} {{comentario.responsavel.usuario.last_name}}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>{{comentario.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-category">Nenhum comentário ainda...</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for pf in object.parecer_final.all %}
        <div class="col-md-12">
            <div class="card parecer-final-card">
                <div class="card-header">
                    <h4 class="card-title">Parecer Final</h4>
                    <p class="card-category">Autor: {{pf.responsavel.usuario.first_name}} {{pf.responsavel.usuario.last_name}}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>{{pf.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-category">Nenhum parecer final ainda...</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="col-md-12">
        <div class="row">
            {% if object.status.nome == "Concluído" %}
                <div class="update ml-auto mr-auto">
                        <a href="{% url 'web_comentario_create' reclamacao.id %}" class="btn btn-primary btn-round disabled">Novo Comentário</a>
                        <a href="{% url 'web_encaminhar_create' reclamacao.id %}" class="btn btn-primary btn-round disabled">Encaminhar</a>
                </div>
            {% else %}
                <div class="update ml-auto mr-auto">
                    <a href="{% url 'web_comentario_create' reclamacao.id %}" class="btn btn-primary btn-round">Novo Comentário</a>
                    <a href="{% url 'web_encaminhar_create' reclamacao.id %}" class="btn btn-primary btn-round">Encaminhar</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="update ml-auto mr-auto">
                {% if object.status.nome == "Concluído" %}
                    <a href="{% url 'web_parecer_final' reclamacao.id %}" class="btn btn-warning btn-round disabled">Fechar reclamação</a>
                {% else %}
                    <a href="{% url 'web_parecer_final' reclamacao.id %}" class="btn btn-warning btn-round">Fechar reclamação</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
        Você não possui permissão para ver essa reclamação.
    {% endif %}
</div>
{% endblock %}

