{% extends 'home.html' %}

{% block content-title%} Detalhes da reclamação {% endblock %}

{% block content-body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{object.protocolo}}</h4>
                <p class="card-category">{{object.aluno}}</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>Atributo</th>
                            <th>Informação</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-primary">Status da reclamação</td>
                                <td>{{object.status}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary">Escola</td>
                                <td>{{object.aluno.escola}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary">Setor</td>
                                <td>{{object.tipo.setor}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary">Tipo da reclamação</td>
                                <td>{{object.tipo}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary">Reclamante</td>
                                <td>{{object.reclamante}}</td>
                            </tr>
                            <tr>
                                <td class="text-primary">Texto</td>
                                <td>{{object.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% for comentario in object.comentarios.all %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Comentário</h4>
                    <p class="card-category">Feito por: {{comentario.responsavel.usuario.first_name|linebreaks}}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-primary">Texto</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{comentario.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-category">Nenhum comentário ainda...</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
