{% extends 'home.html' %}

{% block content-title%}Reclamações{% endblock %}

{% block content-body %}

{% load crispy_forms_tags %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                {% if request.resolver_match.url_name == "web_reclamacao_create" %}Criar nova reclamação{% endif %}
                {% if request.resolver_match.url_name == "web_reclamacao_update" %}Atualizar reclamação{% endif %}
            </h4>
        </div>
        <div class="card-body">
            
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            {% if request.resolver_match.url_name == "web_reclamacao_update" %}
                                <div>{{form.protocolo | as_crispy_field}}</div>
                            {% else %}
                                <div>{{form.protocolo | as_crispy_field}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div> {{form.aluno | as_crispy_field}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div> {{form.reclamante | as_crispy_field}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div> {{form.agencia_transporte | as_crispy_field}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div> {{form.tipo | as_crispy_field}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            {% if request.resolver_match.url_name == "web_reclamacao_update" %}
                                <div>{{form.cod_linha | as_crispy_field}}</div>
                            {% else %}
                                <div>{{form.cod_linha | as_crispy_field}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div>{{form.status | as_crispy_field}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            {% if request.resolver_match.url_name == "web_reclamacao_update" %}
                                <div>{{form.data_ocorrido | as_crispy_field}}</div>
                            {% else %}
                                <div>{{form.data_ocorrido | as_crispy_field}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div>{{form.texto | as_crispy_field}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" type="submit">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}

