{% extends 'home.html' %}

{% block content-title%} Detalhes da reclamação {% endblock %}

{% block content-body %}
{% load crispy_forms_tags %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{object.protocolo}}</h4>
                <p class="card-category">{{object.aluno}}</p>
            </div>
            <div class="card-body">
                <form method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Reclamante</label>
                                <div>{{object.reclamante}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Agência de Transporte</label>
                                <div> {{object.agencia_transporte}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Tipo de reclamação</label>
                                <div> {{object.tipo}} </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Código da linha</label>
                                <div>{{object.cod_linha}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Status da reclamação</label>
                                <div>
                                    {{status}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Data do ocorrido</label>
                                <div>{{object.data_ocorrido}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Texto da reclamação</label>
                                <div>{{object.texto}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button class="btn btn-primary btn-round" type="submit">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for comentario in object.comentarios.all %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Comentário</h4>
                    <p class="card-category">Feito por: {{comentario.responsavel.usuario.first_name|linebreaks}}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th class="text-primary">Texto</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{comentario.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-category">Nenhum comentário ainda...</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
