{% extends 'home.html' %}

{% block content-title%} Todas as reclamações {% endblock %}

{% block content-body %}

<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-body">
            <div>
                <table id="table" class="display table">
                    <thead class="text-primary">
                        <tr>
                            <th>Protocolo</th>
                            <th>Aluno</th>
                            <th>Reclamante</th>
                            <th>Status</th>
                            <th>SRE</th>
                            <th>Escola</th>
                            <th>Setor</th>
                            <th>Tipo reclamação</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for reclamacao in reclamacoes  %}
                        <tr>
                            <td><a class="protocolo" href="{% url 'web_reclamacao_detail' reclamacao.id %}">{{reclamacao.protocolo}}</a></td>
                            <td>{{reclamacao.aluno}}</td>
                            <td>{{reclamacao.reclamante}}</td>
                            <td>{{reclamacao.status}}</td>
                            <td>{{reclamacao.aluno.escola.municipio.sre}}</td>
                            <td>{{reclamacao.aluno.escola}}</td>
                            <td>{{reclamacao.tipo.setor}}</td>
                            <td>{{reclamacao.tipo}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready( function () {
        $('#table').DataTable({
            "pagingType": "full_numbers"
        });
    } );
</script>
{% endblock %}