{% extends 'home.html' %}

{% block content-title%}Reclamações{% endblock %}

{% block content-body %}

{% load crispy_forms_tags %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                Criar nova reclamação
            </h4>
        </div>
        <div class="card-body">
            
            <form id="form" method="post" data-rotas-url="{% url 'ajax_load_rotas' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Aluno*</label>
                            <select class="form-control" name="aluno" id="id_aluno">
                                <option value="">---------</option>
                                {% for aluno in alunos%}
                                    <option value={{aluno.id}}>{{aluno}}</opion>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div> {{form.reclamante | as_crispy_field}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div> {{form.agencia_transporte | as_crispy_field}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div> {{form.tipo | as_crispy_field}} </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div>{{form.outro_tipo | as_crispy_field}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div>{{form.placa_veiculo | as_crispy_field}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Data do ocorrido*</label>
                            <div><input class="form-control" name="data_ocorrido" type="date" required></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Rota*</label>
                            <div>
                                <select class="form-control" name="rota" id="id_rota" required>
                                    <option value="">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <div>{{form.papel | as_crispy_field}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <div>{{form.outro_papel | as_crispy_field}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div>{{form.texto | as_crispy_field}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-primary btn-round" type="submit">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
</div>

<script>

    $(document).ready(function() {
        $('#id_aluno').select2();
        $('#id_reclamante').select2();
        $('#id_rota').select2();
    });

    $("#id_aluno").change(function() {
        var url = $("#form").attr("data-rotas-url");
        var alunoId = $(this).val();
        $.ajax({                       
        url: url,                    
            data: {
                'alunoId': alunoId     
            },
            success: function (data) { 
                $("#id_rota").html(data);
            }
        });
    })

</script>
{% endblock %}

