{% extends 'home.html' %}

{% block content-title%} Todas as reclamações {% endblock %}

{% block content-body %}

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header">
            <h4 class="card-title"></h4>
            <p class="card-category">Aqui será listado todas as reclamações feitas</p>
        </div>
        <div class="card-body">
            <div >
                <table id="table" class="display table">
                    <thead class="text-primary">
                        <tr>
                            <th>Protocolo</th>
                            <th>Aluno</th>
                            <th>Reclamante</th>
                            <th>Status</th>
                            <th>SRE</th>
                            <th>Escola</th>
                            <th>Setor</th>
                            <th>Tipo reclamação</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for reclamacao in reclamacoes  %}
                        <tr>
                            <td>{{reclamacao.protocolo}}</td>
                            <td>{{reclamacao.aluno}}</td>
                            <td>{{reclamacao.reclamante}}</td>
                            <td>{{reclamacao.status}}</td>
                            <td>{{reclamacao.aluno.escola.municipio.sre}}</td>
                            <td>{{reclamacao.aluno.escola}}</td>
                            <td>{{reclamacao.tipo.setor}}</td>
                            <td>{{reclamacao.tipo}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready( function () {
        $('#table').DataTable();
} );
</script>
{% endblock %}